

<%- include('./includes/head.ejs') %>

<link rel="stylesheet" href="/css/treeview.css">
</head>
    <%- include('./includes/navigation.ejs') %>
    <h1 style="color: white;">Avarage Of Soldiers</h1>

    <div class="soldier-info">
      <% for(let i=0;i< soldiers.length; i++) { %>
        <% soldier = soldiers[i]; %>

        
        <% if(soldier.Force_id == force_Id){ %>

          <li><h1><%= soldier.Name %></h1></li>
          
        <% } %>
        
      <% } %> 


    </div>
    <div  class = "scrolling-area">

      <div class= "scrolling-element-inside">
        <% force_Type = "Squad" %>
    <% for(let i=0;i< forces.length; i++) { %>
      <% force_Squad = forces[i]; %>
      <% force_Id = force_Squad.id %>
      <% if(force_Squad.parent_id == null){ %>

            <li style="list-style-type: none ;"><span id="<%= force_Squad.parent_id %>" class="caret"></span>
              <a  style="position: relative; left: 1.5em; width:40em; height: 4em ;" href="/average-Of-Forces/<%= force_Squad.id %>" class="btn"><%= force_Squad.name %> </a>
              <ul class="nested">
                <% force_Type = "Departemnt" %>
                <% for(let i=0;i< forces.length; i++) { %>
                  <% force_Department = forces[i]; %>
                  <% force_Id = force_Department.id %>
                  <% if(force_Department.parent_id == force_Squad.id){ %>
                    <li><span id="<%= force_Department.id %>" class="caret"></span>
                      <a  style=" background-color: rgb(43, 46, 45);position: relative; right: 0.1em;width:38em; height: 4em ;" href="/average-of-forces/<%= force_Department.id %>" class="btn"><%= force_Department.name %> </a>
                      <ul class="nested">
                        <% force_Type = "Squad" %>
                        <% for(let i=0;i< forces.length; i++) { %>
                          <% force_Class = forces[i]; %>
                          <% force_Id = force_Class.id %>
                          <% if(force_Class.parent_id == force_Department.id){ %>

                            <li><a  style="background-color: rgb(136, 136, 136); position: relative; right: 2.6em; margin:1em; width:36em; height: 4em ;;" href="/average-of-forces/<%= force_Class.id %>" style= "margin: 1em" class="btn"><%= force_Class.name %> </a>
                              <ul class="nested">  
                                <% force_Type = "Squad" %>
                              
                              </ul>
                          <% } %>
                        <% } %>
                      </ul>
                      
                    </li>
                    
                  <% } %>
                <% } %>
              </ul>
            </li>
            <% } %>
      <% } %>
</div>
</div>
    


  </body>
  <script type="text/javascript">
    var toggler = document.getElementsByClassName("caret");
var i;

for (i = 0; i < toggler.length; i++) {
toggler[i].addEventListener("click", function() {
this.parentElement.querySelector(".nested").classList.toggle("active");
this.classList.toggle("caret-down");
});
}
</script>
  </html>