<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/TopSoldiers.css">
</head>
<body>
    <% sumOfSoldiersNum = [] %>
    
    <%- include('./includes/navigation.ejs') %>
    
    <h1>Top Soliders</h1>
    
    <div style="  border: 8px solid #828380;block-size: 150px;background-color:rgb(216, 216, 216);width: 50em;height: 47em;position:absolute;left: 66em;margin:10px;">
        <% for(let i=0;i< soldiers.length; i++) { %>
            <% soldier = soldiers[i]; %>
            <% sumOfSoldier = 0 %>
            <% if(!soldier.U_id == ""){ %>
                
                
                
                <% for(let i=0;i<results.length; i++) { %>
                    <% result = results[i]; %>
                    <% if(result.soldier_id == soldier.U_id){ %>
                        <% for(let i=0;i<exercises.length; i++) { %>
                            <% exercise = exercises[i]; %>
                            <% if(exercise.id == result.exercise_id){ %>
                                    <% sumOfSoldier += result.grade %>
                                <% } %>
                                <% } %>
                                <% } else if(i==1 && soldier.U_id == "") { %>
                                    <% } %>
                                    <% } %> 
                                    <% } %>
                                    <% sumOfSoldiersNum += sumOfSoldier  + " " %>
                                    <% } %>
                                </div>
                                <%   sumOfSoldiersArr = sumOfSoldiersNum.split(" ") %>
                                <% max = Math.max.apply(Math, sumOfSoldiersArr) %>
                                <div style="  border: 8px solid #828380;block-size: 150px;background-color:rgb(216, 216, 216);width: 50em;height: 47em;position:absolute;left: 2em;margin:10px;">
                                    <% for(i=0; i<sumOfSoldiersArr.length; i++){ %>
                                        <% soldier = soldiers[i] %>         
                                        <% if(sumOfSoldiersArr[i] == max){ %>
                                            <h1 style="  text-align: center;">
                                                <%= soldier.Name %>
                                                <%= sumOfSoldiersArr[i] %>
                                            </h1>
                                            <% maxSoldier = result.soldier_id %>
                                        <% } %>
                                <% } %>
                                </div>
                                
                                
                                
                                
                                <%- include('./includes/end.ejs') %>